@font-face {
    font-family: Product Sans;
    src: url(./fonts/Product\ Sans\ Regular.ttf);
}

body {
    margin: 0;
    font-family: 'Product Sans', 'Times New Roman', Times, serif;
    background-color: rgb(17, 16, 16);
}

.main {
    font-family: 'Product Sans', 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    background-color: rgb(17, 16, 16);
    margin-bottom: 35px;
}

#container {
    border: 1px solid black;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 680px;
    align-items: center;
    background-color: rgb(20, 19, 19);
}

#display {
    border: 1px solid black;
    background-color: rgb(48, 45, 45);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    margin: 1vh 0;
    width: 380px;
    height: 200px;
    text-align: right;
    padding: 5px;
}

#expression {
    font-size: 70px;
    color: whitesmoke;
    text-align: right; /* Set text alignment to right */
    overflow-x: auto; /* Scroll overflow on the right */
}

.result {
    font-size: 52px;
    color: rgb(175, 175, 175);
    overflow-x: auto; /* Scroll overflow on the right */
    transition: transform 0.25s;
}

#buttons {
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.row {
    display: flex;
    width: 390px;
    justify-content: space-around;
    align-items: center;
}

button {
    border-style: none;
}

.button.function {
    box-sizing: border-box;
    height: 50px;
    padding: 5px 75px;
    border-radius: 5%;
    font-size: 25px;
}

.button.operator, .button.number, .button.equals {
    box-sizing: border-box;
    width: 90px;
    height: 90px;
    padding: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    transition: border-radius 0.1s ease-in-out;
}

#clear {
    background-color: rgb(0, 56, 0);
    color:rgb(0, 216, 0);
}

#backspace {
    background-color: rgb(146, 1, 1);
    color: rgb(255, 0, 0);
}

.button.number {
    color: rgb(88, 164, 252);
    background-color: rgb(32, 32, 32);
}

.button.operator {
    color: rgb(88, 164, 252);
    background-color: rgb(2, 44, 99);
}

.button.equals {
    background-color: rgb(0, 26, 255);
    color: rgb(121, 188, 243);
}

.emphasize {
    color: rgb(224, 224, 224);
    transform: scale(1.7) translate(-80px, 10px);
}

.button.equals:hover, .button.number:hover, .button.operator:hover {
    border-radius: 30%;
}

.button.number:hover {
    background-color: rgb(71, 71, 71);
}

.button.operator:hover {
    background-color: rgb(24, 76, 145);
}

.button.equals:hover {
    background-color: rgb(45, 66, 255);
}

#backspace:hover {
    background-color: rgb(165, 38, 38);
}

#clear:hover {
    background-color: rgb(0, 95, 0);
}

footer {
    color: white;
    font-size: 20px;
    background-color: rgb(17, 16, 16);
    text-align: center;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: rgb(88, 164, 252);
}
